/*style.css*/
body {
    background-color:rgb(247, 225, 198);
    font-family: Arial, sans-serif;
    margin: 40px;
    color:grey;
}

h1 {
    background-color: rgb(29, 29, 83);
    color: whitesmoke;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

table {

}

th, td {

}

th {

}

a {

}

a:hover {

}