/*Homework 1 Style Sheet*/
body {
    background-color: antiquewhite;
    color: gray;
    font-family:'Courier New', Courier, monospace;
    margin: 60px;
}

table {
    width: 100%;
    border-collapse:collapse;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    border: 2px solid gray;
}

h1 {
    background-color:darkred;
    color:antiquewhite;
    padding: 40px;
    text-align:center;
    border-radius: 10px;
}

th, td {
    border: 1px solid gray;

}